VITE_HASURA_GRAPHQL_URL=
HASURA_GRAPHQL_URL=
HASURA_ADMIN_SECRET=
HASURA_JWT_SECRET=
HASURA_EVENT_SECRET=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GROQ_API_KEY=
ANTHROPIC_API_KEY=
OPENROUTER_API_KEY=
